body{
    margin:0;
    padding:0;

}
.container{
    
    margin: 0 30px;
}
.heading1{
    font-size: 45px;
}
.heading2{
    font-size: 25px;
}
h2,h4,p{
    padding: 0;
    margin: 0;
}
.navigation{
    display:flex;
    justify-content: space-between;
    background-color: orange;
    padding: 0 20px;
}
.navigation .hamburger {
    display: none;
  }
.logo{
    
    display: flex;
    align-items: center;
}
.nav-links{
    display:flex;
}
.nav-link{
    padding:20px;
    list-style-type: none;
    
}
.nav-link:hover{
    font-weight: bolder;
   text-shadow: 2px 2px 3px white;
}
.nav-link a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
}
.header h1{
    max-width:400px;
    display: flex;
    align-self:center;
    
    word-spacing: 2px;
    letter-spacing: 1px;
}

.header{
    display:flex;
    justify-content: space-between;
}
.left-section{
    display: flex;
    justify-content: space-between;
}

.section{
    display: flex;
    margin:20px;
}
i{
    padding:20px;
    display: flex;
    align-self: center;
    background-color: orange;
    font-size: 20px;
    border-radius: 10px;
    border:solid white 5px;
}
.section-head{
    padding: 20px;
}
.section-head h4{
    margin-bottom: 15px;
   
}
.section-header
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-bottom: 3rem;
}
.section-header h1{
	
	color:#45380D ;
	
}

.service-wrapper{
	display:grid;
	grid-template-rows: repeat(7,130px);
	grid-template-columns: repeat(16,1fr);
}

.services:nth-child(1){
	grid-column: 4/7;
	grid-row: 1/3;
}
.services:nth-child(2){
	grid-column: 2/5;
	grid-row: 3/5;
}
.services:nth-child(3){
	grid-column: 4/7;
	grid-row: 5/7;
}

.services:nth-child(4){
	grid-column: 11/14;
	grid-row: 5/7;
}
.services:nth-child(5){
	grid-column: 13/16;
	grid-row: 3/5;
}
.services:nth-child(6){
	grid-column: 11/14;
	grid-row: 1/3;
}
.location{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
    
    box-shadow:10px 10px 2px rgba(0,0,0,1);
}
.left{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right img{
    display: flex;
    margin: auto;

}


  
  footer {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
  }
  footer .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  footer .footer-logo blockquote {
    margin: 0;
  }
  footer .footer-content {
    display: flex;
  }
 
  footer .footer-content li {
    list-style: none;
    margin: 0 40px;
  }
  footer .footer-content a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 15px 0;
  }
  footer .footer-content a p {
    margin: 0;
  }
  footer .footer-content .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer .footer-content .icon i {
    margin: 10px;
    cursor: pointer;
  }
  @media (max-width: 1220px){
      .heading1{
          font-size: 35px;
      }
      .heading2{
          font-size: 20px;
      }
      .header img{
        width:450px;
    }
  }
  
  @media (max-width: 900px) {
    footer .footer-logo h1 {
      font-size: 20px;
    }
    footer .footer-logo blockquote {
      font-size: 14px;
    }
    footer .footer-content li {
      margin: 0 20px;
    }
    footer .footer-content li h3 {
      font-size: 16px;
    }
    footer .footer-content li a {
      font-size: 14px;
    }
    footer .footer-content li p {
      font-size: 14px;
    }
    footer .footer-content .footer-content .icon i {
      margin: 0;
    }
    .nav-links {
        display: none;
        flex-direction:column;
		//height:100vh;
		padding: 20px;
		background-color:orange;
        position: absolute;
        top:15%;
        right:2%;
        border-radius: 10px;

      }
      .nav-link{
          padding-bottom:15px;
          border-bottom:black 2px solid;
          display: flex;
          
          align-items:center;
		justify-content: center;

      }
      
    
      .navigation .hamburger {
        display: block;
      }
    
       .show {
        display: flex;
    
      }
      .header{
          flex-direction: column;
      }
      .right-section{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //min-width:800px;
          
      }
      .section{
          flex-direction: column;
          margin: 30px;
      }
    
  }
  @media (max-width: 750px){
      .section{
          margin:0;
      }
  }


  @media (max-width: 660px) {
    footer .footer-content {
      flex-wrap: wrap;
      padding: 0;
    }
  }
  
  
  /*# sourceMappingURL=style.css.map */
  
